@import "tailwindcss";


@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

html {
  scroll-behavior: smooth;
}






/* BACKGROUND DECORATIONS */

















/* Normal scroll - Right to Left */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Reverse scroll - Left to Right */
@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-reverse {
  animation: scroll-reverse 25s linear infinite;
}

.animate-scroll-reverse:hover {
  animation-play-state: paused;
}